!!!
%html
  %head
    %title The Prize
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    %canvas#canvas{ width: 800, height: 600 }

    %script{ src: "scripts/vendor/keymaster.js" }
    %script{ src: "scripts/app.js" }
    %script{ src: "scripts/models/room.js" }
    %script{ src: "scripts/models/hero.js" }
    %script{ src: "scripts/models/prize.js" }
